parameters:
    ignoreErrors:
        -
            message: "#^Cannot cast mixed to string\\.$#"
            count: 1
            path: src/Algorithm/Mac/Hmac.php

        -
            message: "#^Parameter \\#1 \\$length of function random_bytes expects int\\<1, max\\>, int given\\.$#"
            count: 1
            path: src/Algorithm/Signature/RSA/PSSRSA.php

        -
            message: "#^Cannot cast mixed to (string|int)\\.$#"
            count: 7
            path: src/Key/Ec2Key.php

        -
            message: "#^Cannot cast mixed to int\\.$#"
            count: 1
            path: src/Key/RsaKey.php

        -
            message: "#^Cannot cast mixed to int\\.$#"
            count: 1
            path: src/Key/SymmetricKey.php

        -
            message: "#^Method Cose\\\\Key\\\\Ec2Key\\:\\:d\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/Ec2Key.php

        -
            message: "#^Method Cose\\\\Key\\\\Ec2Key\\:\\:x\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/Ec2Key.php

        -
            message: "#^Method Cose\\\\Key\\\\Ec2Key\\:\\:y\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/Ec2Key.php

        -
            message: "#^Cannot cast mixed to int\\.$#"
            count: 1
            path: src/Key/Key.php

        -
            message: "#^Method Cose\\\\Key\\\\Key\\:\\:type\\(\\) should return int\\|string but returns mixed\\.$#"
            count: 1
            path: src/Key/Key.php

        -
            message: "#^Cannot cast mixed to int\\.$#"
            count: 3
            path: src/Key/OkpKey.php

        -
            message: "#^Method Cose\\\\Key\\\\OkpKey\\:\\:d\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/OkpKey.php

        -
            message: "#^Method Cose\\\\Key\\\\OkpKey\\:\\:x\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/OkpKey.php

        -
            message: "#^Method Cose\\\\Key\\\\RsaKey\\:\\:QInv\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/RsaKey.php

        -
            message: "#^Method Cose\\\\Key\\\\RsaKey\\:\\:d\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/RsaKey.php

        -
            message: "#^Method Cose\\\\Key\\\\RsaKey\\:\\:dI\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/RsaKey.php

        -
            message: "#^Method Cose\\\\Key\\\\RsaKey\\:\\:dP\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/RsaKey.php

        -
            message: "#^Method Cose\\\\Key\\\\RsaKey\\:\\:dQ\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/RsaKey.php

        -
            message: "#^Method Cose\\\\Key\\\\RsaKey\\:\\:e\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/RsaKey.php

        -
            message: "#^Method Cose\\\\Key\\\\RsaKey\\:\\:n\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/RsaKey.php

        -
            message: "#^Method Cose\\\\Key\\\\RsaKey\\:\\:other\\(\\) should return array but returns mixed\\.$#"
            count: 1
            path: src/Key/RsaKey.php

        -
            message: "#^Method Cose\\\\Key\\\\RsaKey\\:\\:p\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/RsaKey.php

        -
            message: "#^Method Cose\\\\Key\\\\RsaKey\\:\\:q\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/RsaKey.php

        -
            message: "#^Method Cose\\\\Key\\\\RsaKey\\:\\:rI\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/RsaKey.php

        -
            message: "#^Method Cose\\\\Key\\\\RsaKey\\:\\:tI\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/RsaKey.php

        -
            message: "#^Method Cose\\\\Key\\\\SymmetricKey\\:\\:k\\(\\) should return string but returns mixed\\.$#"
            count: 1
            path: src/Key/SymmetricKey.php

        - '#Parameter \#\d+ \$.* of .* expects .*, .* given\.#'
        - '#Method .* should return string but returns string\|false\.#'
