parameters:
	ignoreErrors:
		-
			rawMessage: 'Parameter #1 $signature of static method Cose\Algorithm\Signature\ECDSA\ECSignature::fromAsn1() expects string, mixed given.'
			identifier: argument.type
			count: 1
			path: ../src/Algorithm/Signature/ECDSA/ECDSA.php

		-
			rawMessage: 'Parameter #1 $seed of function sodium_crypto_sign_seed_keypair expects non-empty-string, string given.'
			identifier: argument.type
			count: 1
			path: ../src/Algorithm/Signature/EdDSA/EdDSA.php

		-
			rawMessage: 'Parameter #1 $signature of function sodium_crypto_sign_verify_detached expects non-empty-string, string given.'
			identifier: argument.type
			count: 1
			path: ../src/Algorithm/Signature/EdDSA/EdDSA.php

		-
			rawMessage: 'Parameter #3 $public_key of function sodium_crypto_sign_verify_detached expects non-empty-string, string given.'
			identifier: argument.type
			count: 1
			path: ../src/Algorithm/Signature/EdDSA/EdDSA.php

		-
			rawMessage: 'Method Cose\Algorithm\Signature\FullySpecified\Ed448::sign() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Algorithm/Signature/FullySpecified/Ed448.php

		-
			rawMessage: 'Parameter #1 $length of function random_bytes expects int<1, max>, int given.'
			identifier: argument.type
			count: 1
			path: ../src/Algorithm/Signature/RSA/PSSRSA.php

		-
			rawMessage: 'Method Cose\Algorithm\Signature\RSA\RSA::sign() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Algorithm/Signature/RSA/RSA.php

		-
			rawMessage: 'Parameter #1 $array of function current expects array|object, array|false given.'
			identifier: argument.type
			count: 1
			path: ../src/BigInteger.php

		-
			rawMessage: 'Parameter #1 $string of function ltrim expects string, string|false given.'
			identifier: argument.type
			count: 1
			path: ../src/BigInteger.php

		-
			rawMessage: 'Method Cose\Key\Ec2Key::curve() should return int|string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/Ec2Key.php

		-
			rawMessage: 'Method Cose\Key\Ec2Key::d() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/Ec2Key.php

		-
			rawMessage: 'Method Cose\Key\Ec2Key::x() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/Ec2Key.php

		-
			rawMessage: 'Method Cose\Key\Key::type() should return int|string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/Key.php

		-
			rawMessage: 'Parameter #2 of function sprintf is expected to be int by placeholder #1 ("%%d"), int|string given.'
			identifier: argument.type
			count: 1
			path: ../src/Key/Key.php

		-
			rawMessage: 'Method Cose\Key\OkpKey::curve() should return int|string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/OkpKey.php

		-
			rawMessage: 'Method Cose\Key\OkpKey::d() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/OkpKey.php

		-
			rawMessage: 'Method Cose\Key\OkpKey::x() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/OkpKey.php

		-
			rawMessage: 'Parameter #1 $seed of function sodium_crypto_sign_seed_keypair expects non-empty-string, string given.'
			identifier: argument.type
			count: 1
			path: ../src/Key/OkpKey.php

		-
			rawMessage: 'Method Cose\Key\RsaKey::QInv() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/RsaKey.php

		-
			rawMessage: 'Method Cose\Key\RsaKey::d() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/RsaKey.php

		-
			rawMessage: 'Method Cose\Key\RsaKey::dI() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/RsaKey.php

		-
			rawMessage: 'Method Cose\Key\RsaKey::dP() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/RsaKey.php

		-
			rawMessage: 'Method Cose\Key\RsaKey::dQ() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/RsaKey.php

		-
			rawMessage: 'Method Cose\Key\RsaKey::e() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/RsaKey.php

		-
			rawMessage: 'Method Cose\Key\RsaKey::n() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/RsaKey.php

		-
			rawMessage: 'Method Cose\Key\RsaKey::other() should return array<int, array<int, string>> but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/RsaKey.php

		-
			rawMessage: 'Method Cose\Key\RsaKey::p() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/RsaKey.php

		-
			rawMessage: 'Method Cose\Key\RsaKey::q() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/RsaKey.php

		-
			rawMessage: 'Method Cose\Key\RsaKey::rI() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/RsaKey.php

		-
			rawMessage: 'Method Cose\Key\RsaKey::tI() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/RsaKey.php

		-
			rawMessage: 'Method Cose\Key\SymmetricKey::k() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: ../src/Key/SymmetricKey.php
